{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="nk-content ">

    <div class="nk-block nk-block-middle nk-auth-body  wide-xs">

        <div class="brand-logo pb-4 text-center"><a href="/" class="logo-link"><img
            class="logo-light logo-img logo-img-lg" src="{% static '/images/logo.png' %}"
            srcset="{% static '/images/logo.png' %}" alt="logo"><img class="logo-dark logo-img logo-img-lg"
            src="{% static '/images/logo.png' %}" srcset="{% static '/images/logo.png' %}" alt="logo-dark"></a>
        </div>

        <div class="card card-bordered">
            <div class="card-inner card-inner-lg">
                <div class="nk-block-head">
                    <div class="nk-block-head-content">
                        <h4 class="nk-block-title">Staff Sign-In</h4>
                        <div class="nk-block-des">
                            <p>Access the Staff Dashboard using department and passcode.</p>
                            {% if msg %}{% if msg == "User Created, Please login to continue" %}<p class="text-success">{{msg}}</p>{% else %}<p class="text-danger">{{msg}}</p>{% endif %}{% endif %}
                        </div>
                    </div>
                </div>
                <form method="POST" class="stafflogin form-validate" id="stafflogin">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-label-group"><label class="form-label" for="default-01">Department</label></div>
                                <div class="form-control-wrap">{{ form.Department }}</div>
                                </div>
                        <div class="form-group">
                            <div class="form-label-group"><label class="form-label" for="default-01">Year</label></div>
                                    <div class="form-control-wrap">{{ form.Year }}</div>
                                    </div>
                    <div class="form-group">
                        <div class="form-label-group"><label class="form-label" for="password">Passcode</label></div>
                        <div class="form-control-wrap"><a href="#" class="form-icon form-icon-right passcode-switch lg"
                                data-target="password"><em class="passcode-icon icon-show icon ni ni-eye"></em><em
                                    class="passcode-icon icon-hide icon ni ni-eye-off"></em></a>
                                    {{ form.Password }}
                        </div>
                    </div>
                    <div class="form-group"><button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button></div>
                </form>
            </div>
        </div>
        
    </div>
    
    

</div>



{% endblock %}